 <h1>Welcome to Caffeine Buddy</h1>
<p>
<img id="buddy" src="https://drive.google.com/thumbnail?id=0B6z5p82sidMKYUE4TlYySnNBLUU&authuser=0&v=1438229609338&sz=w1255-h582" alt=""></p>


<h1>Login</h1>
<div id=red>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <br>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <br>
    <div class="actions"><%= submit_tag "Log in" %></div>
  <% end %>

  <p><%= link_to "Or Signup!!!!", new_user_path %></p></div>
