<h1>Nearby Stores</h1>




<!-- <a href="#" id="get_location">Get Location</a> -->
<div id="store_map">
  <iframe id="google_map" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com?output=embed"></iframe>
</div>




<h1>Nearby Stores</h1>




<h2><button type="button" class="btn btn-primary"><%= link_to 'New Store', new_store_path %></button></h2>


<div id="storetable" class="container">


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<% @stores.each do |store| %>
  <tr>
    <td><button type="button" class="btn btn-success"><%= link_to store.name, store_path(store), method: :get %></button></td>
    <td><%= store.address %></td>
    <td>Miles</td>

    <td><button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_store_path(store) %></button></td>
    <td><button type="button" class="btn btn-danger"><%= link_to 'Delete', store, method: :delete,
                                    data: { confirm: 'Are you sure?' } %></button></td>







  </tr>
<% end %>
</table>

<br>






</div>

