<div  class="container">

<h1><%= @store.name %></h1>
<p><%= @store.address %></p>

<style type="text/css">
      html, body, #map-canvas
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>">
    </script>
    <script type="text/javascript">
      function initialize() {
        var store_location = {lat: <%= @store.latitude %>, lng: <%= @store.longitude %>};
        var mapOptions = {
          center: store_location,
          zoom: 15
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new google.maps.Marker({
          position: store_location,
          map: map,
          animation: google.maps.Animation.DROP,
          title: 'Hello World!',
          icon: 'https://i.cloudup.com/t2UIuZZrEQ-3000x3000.png',
          visible: true
        });
        marker.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div id="map-canvas"></div>

<div id="funnypic"></div>
<br>
</div>
<br>


<div  id="store_form" class="container">
  <br>
<table id="storedrinks">
  <thead>
    <tr>

      <th><p>Drink Type</p></th>
      <th><p>Picture</p></th>
      <th><p>Price</p></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <% @store.drinks.each do |drink| %>

  <td><%= drink.name %></td>
  <td><img id="drinkpic" src="<%= drink.photo_url %>"></td>
  <td>$ <%= sprintf('%.2f', drink.price(@store.id)) %> </td>

  <td><button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_drink_price_path %> </button></td>
  <td><button type="button" class="btn btn-danger"><%= link_to 'Delete this Drink', drink_price_path, method: :delete,
                                    data: { confirm: 'Are you sure?' } %> </td></button>

  </tr>
  <% end %>

</table>


<div id="store_buttons">
  <br>
  <br>
  <button type="button" class="btn btn-success">Get Diretions to <%= @store.name %></button>
  <br>
  <br>
  <%#= link_to 'Add Drink', new_drink_path %>



  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Drink to <%= @store.name %>
  <span class="caret"></span></button>
  <ul class="dropdown-menu">

  <%# @drinks.each do |drink| %>

    <li><%#= drink.name %></li>

  </ul>
</div>
<form action="" method="POST" class="form-inline" role="form">

  <div class="form-group">
    <label class="sr-only" for="">label</label>
    <input type="text" class="form-control" placeholder="Price">
  </div>


<%# end %>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  <br>
  <br>
  <p>Add Comment for <%= @store.name %></p>
  <div class="form-group">
    <label class="sr-only" for="">label</label>
    <input type="text" class="form-control" id="" placeholder="Comment">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

   <table id="storecomment">


  <%# @store.comments.each do |drink| %>

  <td><%#= comment.review %></td>

  <td><%#= link_to 'Edit', edit_comment_path(comment) %> </td>



  </tr>
  <%# end %>

</table>

<ul>


  <% @store.comments.each do |drink| %>

    <li><%#= comment.review %></li>

</ul>
<% end %>

  <br>
  <br>


</div>

</div>


