

<h1>drink edit</h1>


<div id="red">
 <%= form_for @drink do |f| %>
 <% if @drink.errors.any? %>
 <% end %>
   <div class="error_messages" >
   <%= f.label :name %>
   <%= f.text_field :name %>
 </div>
<br>
 <div class="field">
   <%= f.label :photo_url %>
   <%= f.text_field :photo_url %>
 </div>

<br>
 <div class="actions"><%= f.submit %></div>

 <p><%= link_to "Drinks", drinks_path %></p></div>


<% end %>



