<p>$ <%= sprintf('%.2f', @drink_price.price) %></p>
<p>Drink Name: <%= @drink_price.drink.name %></p>



<h1>Price edit</h1>

<div id="red">


<div id="edit">
<%= form_for @drink_price do |f| %>
<% if @drink_price.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @drink_price.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="field">
  <%= f.label :price %>
  <%= f.text_field :price %>
</div>
<br>
<br>
<div class="actions"><%= f.submit %></div>
<% end %>

<p><%= link_to "Store", store_path(@drink_price.store) %></p>

</div>
</div>
